body {
    background-color: pink;

}

h1{
    text-align: center;
    color: hotpink;
}

.picmove {
  display: flex;
  justify-content: center;
  animation-name: rotate;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

.picmove:hover {
    animation-play-state: running;
}
  
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }