body {
    background-color: blue;

}

h1{
    text-align: center;
    color: pink;
}

.box {
    background-color: rebeccapurple;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation-name: rotate;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
  }
  
  .box:hover {
    animation-play-state: running;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }