body {
    background-image: url("cute.gif");
    background-size: cover;
}

.row {
    display: flex;
    justify-content: center;
  }
  
.column {
    flex: 33.33%;
    padding: 5px;
  }

.dropbtn {
    background-color:pink;
    color: hotpink;
    padding: 10px;
    font-size: 40px;
    font-style: oblique 23deg;
    border: none;
    border-radius: 20px;
  }


.dropdown:hover .dropdown-content {display: block;}