body {
    background-image: url("cute.gif");
    background-size: cover;
}

.row {
    display: flex;
    justify-content: center;
  }
  
.column {
    flex: 33.33%;
    padding: 5px;
  }

.dropbtn {
    background-color:pink;
    color: hotpink;
    padding: 35px;
    font-size: 35px;
    font-style: oblique 23deg;
    border: none;
    border-radius: 30px;
  }

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown:hover .dropdown-content {display: block;}