body{
    background-color: rgb(85, 84, 84);
    background-image: url('GRAY.png'), url("background.png"), url("planes.png");
    background-size: cover;
}

h1{
    font-size: 50px;
    color: antiquewhite;
    background-image: url('GRAY.png');
    font-family: monospace;
}

button {
    justify-content: center;
    text-align: center;
    width: 25%;
    height: 25%;
    margin-top: 10px;
    padding: 10px 0;
    background: white;
    border: 0;
    outline: none;
    font-size: 30px;
    border-radius: 15px;
}

