body{
    background-color: rgb(85, 84, 84);
    background-image: url("background.png"), url("planes.png");
    background-size: 850px;
}

h1{
    font-size: 50px;
    color: antiquewhite;
    background-color: black;
    font-family: monospace;
}
