

body {
    background-color: lavenderblush;
}

h1 {
    text-align: center;
}

div {
    text-align: center;
}

.container1 {

    position: relative;
    text-align: center;
    color: black;

}

.container2 {

    position: relative;
    text-align: center;
    color: black;

}

.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
    padding: 5px;
  }