

body {
    background-color: lavenderblush;
}

h1 {
    text-align: center;
    color: pink;
}


div {
    text-align: center;
}

.container1 {

    position: relative;
    text-align: center;
    color: black;

}

.row {
    display: flex;
  }
  
.column {
    flex: 33.33%;
    padding: 5px;
  }

.scrolling {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.card {
    flex: 0 0 auto;
    color: black;
    font-size: large;
}

.thirdhand {
    width: 130px;
    height: 195px;
    position: relative;
    display: inline-block;
}

.thirdhand .img-top{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.thirdhand:hover .img-top {
    display: inline;
}