body {
    background-image: url("bgmaybe.gif");
    background-size: cover;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

div {
    background-image: url("cloud.png");
    background-size: 900;
}