body {
    background-image: url("background.gif");
    background-size: cover;
}

h1{
  color: rgb(159, 159, 237);
  font-size: 100px;
  font-family:monospace;
}

h2{
  background-color: pink;
  color: rgb(159, 159, 237);
  font-size: 20px;
  font-family:monospace;
  padding: 5px;
  
}

#img1 {
  border: 15px solid pink;
}

.row {
  display: flex;
  justify-content: center;
}

.column {
  flex: 50%;
  padding: 5px;
}

#navigate {
  background-color: pink;
}

.scrollbox{
  width: 350px;
  height: 550px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  position: absolute;
  top: -20%;
  left: 20%;
  transform: translate(85%, 80%);
}

.scroll-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: larger;
}

@media (min-color: 8) {
  p {
    color: #24ba13;
  }
}

